<footer class="bg-background/5 flex justify-between items-center px-2 py-1">
    <p>© 2023 Michael Chen</p>

    <p>
        <a href="https://github.com/hahahahhahahhaha/fancy-resume" target="_blank" class="underline underline-offset-2 hover:no-underline">
            Launch your own resume page!</a> 
        🚀 Contact me 
        <a href="mailto:michaelchxx@gmail.com" target="_blank" class="underline underline-offset-2 hover:no-underline">
            Here!</a> 🤓
    </p>
</footer>

<style>
    p{
        @apply text-sm text-text/50;
    }

    a {
        @apply underline hover:text-text/80;
    }
</style>